<%= render partial: 'url', locals: {url: @url} %>


<h7 class='comments_count'>
  <span>top </span><%= @url.comments.count %> comments<span> show all blah</span>
</h7>

<div class='comments-form'>
    <h6>top 200 comments</h6><%= link_to '#' %>
    <%= form_tag urls_path @url.id do %>
      <div class='comment-field'>
          <%= label_tag('Comment') %>
          <%= text_area_tag('body') %>
      </div>
      <%= button_tag('save') %>
    <% end %>
</div>

<div class='comments-list'>
  <% @url.comments.each do |comment| %>
      <div class='comment-post'>
          <%= User.find(comment.id).name %>
          <%= simple_format(comment.body) %>
      </div>
  <% end %>
</div>
