<%= form_for @link do |f| %>
  <div class='link-field'> <br/>
    <%= label_tag("title") %> <br/>
    <%= text_field_tag @link.title %>
  </div>
  <div class='link-field'>
    <%= label_tag("url") %> <br/>
    <%= text_field_tag @link.url %>
  </div>
  <br>
  <%= button_tag 'submit' %>
<% end %>
