<ol class="links">
  <% @links.each do |link| %>
    <div class="link-anchor">
      <li>
        <!-- TODO CORRECT LINK TITLE / COMMENT  -->
        <h4><%= link_to link.title, link_path(link) %></h4></br>
        <%= simple_format(link.url) %>
        (<%= link.votes.sum(:score) %> points)
        <%= link_to 'up', link_votes_path(link, score: 1), method: :post %>
        <%= link_to 'down', link_votes_path(link, score: -1), method: :post %>
        <p class="link-date">submitted <%= time_ago_in_words(link.created_at) %> by <%= link.user.name %></p>
        <%= link_to("comments", link_path(link)) %>
        <%= link_to("edit", edit_link_path(link)) %>
        <%= link_to("delete", link_path(link), method: :delete) %>
        <span>share</span>
        <span>save</span>
        <span>hide</span>
        <span>report</span>
      </li>
  <% end %>
</ol>

<div class='side'>
  <div class='spacer'>
    <%= link_to 'Submit a new link', new_link_path %>
  </div>
  <div class='spacer'>
    <%= link_to 'Submit a new text post', '#' %>
  </div>
</div>
