<nav class="navi-bar">
  <span>hot</span>
  <span>new</span>
  <span>rising</span>
  <span>controversial</span>
  <span>top</span>
  <span>gilded</span>
  <span>wiki</span>
  <span>promoted</span>
</nav>

<ol class="links">
  <% @links.each do |link| %>
    <div class="link-anchor">
      <li>
        <h4><%= link_to link.title, link %></h4></br>
        <%= simple_format(link.url) %>
        <p class="link-date">submitted <%= time_ago_in_words(link.created_at) %> by <%= link.user.name %></p>
        <%= link_to("comments", link_path(link)) %>
        <%= link_to("edit", edit_link_path(link)) %>
        <%= link_to("delete", link_path(link), method: :delete) %>
        <span>share</span>
        <span>save</span>
        <span>hide</span>
        <span>report</span>
      </li>
  <% end %>
</ol>

<div class='side'>
  <li class='submit-link'>
    <%= link_to 'Submit a new link', new_link_path %>
  </li>
  <li class='submit-text'>
    <%= link_to 'Submit a new text post', '#' %>
  </li>
</div>
