<%= render partial: 'link', locals: {link: @link} %>


<h7 class='comments_count'>
  <span>top </span><%= @link.comments.count %> comments<span> show all blah</span>
</h7>

<div class='comments'>
  <%= render :partial => @link.comments %>
</div>
<%= form_for [@link, Comment.new]  do |f| %>
  <div class='field'>
    <%= f.text_area :body%>
  </div>
  <br>
  <%= f.submit 'save' %>
<% end %>
