<!DOCTYPE html>
<html>
<head>
  <title>Convergeddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="nav-bar">
    <div id="logo"><%= link_to image_tag("reddit.png", alt: "Reddit logo"),
                          'http://reddit.com/' %></div>
    <div class="nav-account">
      <% if logged_in_user %>
         <ul class="nav-logged">
            <li><%= link_to "preferences", "#"%></li>
  			   	<li><%= link_to 'log out', "#"%></li>
         </ul>
      <% else %>
         <ul class="nav-not-logged">
            <li><%= link_to "log in", login_path %></li>
            <li><%= link_to "sign up", signup_path %></li>
         </ul>
      <% end %>
    </div>
  </div>

  <div class='side'>
    <li class='submit-link'>
      <%= link_to 'Submit a new link', new_link_path %>
    </li>
    <li class='submit-text'>
      <%= link_to 'Submit a new text post', '#' %>
    </li>
  </div>
<%= yield %>
  <%= render 'layouts/footer' %>
</body>
</html>
